@reference '../../app/globals.css';
.single-service {
  @apply
  relative
  sm:w-[568px]
  sm:py-[45px]
  sm:px-[45px]
  px-[30px]
  py-[30px]
  border
  border-white/56
  rounded-xl
  backdrop-blur-[20px]
  overflow-visible
  duration-300
  /* hover:bg-white/100 */
  before:content-['']
  before:absolute
  before:inset-0
  before:rounded-xl
  before:bg-[linear-gradient(to_bottom_right,rgba(36,36,36,0.49),rgba(153,153,153,1))]
  before:opacity-25
  before:-z-10
  after:content-['']
  after:absolute
  after:inset-0
  after:rounded-xl
  after:bg-white
  after:duration-300
  after:w-[100%]
  after:opacity-0
  xl:hover:after:w-[70vw]
  hover:after:opacity-100
  after:-z-10
}
.single-service:hover h2,.single-service:hover p{
  @apply
  text-black
  duration-300
}
.single-service img {
  @apply w-[55px];
}
.single-service h2 {
  @apply text-white
  sm:text-[20px]
  text-[18px]
  font-semibold
  duration-300
  my-[12px];
}
.single-service p {
  @apply text-gray-200
  sm:text-[18px]
  text-[16px]
  font-normal
}
