@reference '../../app/globals.css';
.single-service {
  @apply
  relative
  w-[568px]
  py-[45px]
  pl-[45px]
  border
  border-white/56
  rounded-xl
  backdrop-blur-[20px]
  overflow-hidden
  transition-colors
  duration-150
  before:content-['']
  before:absolute
  before:inset-0
  before:rounded-xl
  before:bg-[linear-gradient(to_bottom_right,rgba(36,36,36,0.49),rgba(153,153,153,1))]
  before:opacity-25
  before:-z-10;
}
.single-service:hover{
  @apply
  bg-white/100
}
.single-service:hover h2,.single-service:hover p{
  @apply
  text-black
}
.single-service img {
  @apply w-[55px];
}
.single-service h2 {
  @apply text-white
  text-[20px]
  font-semibold
  my-[12px];
}
.single-service p {
  @apply text-gray-200
  text-[18px]
  font-normal
  max-w-[441px];
}
