@reference '../../app/globals.css';
.singlePortfolio{
  @apply
  w-[700px]
  h-[487px]
  bg-gradient-to-r
  from-[#550083]
  to-[#004e82]
  rounded-md
  relative
  overflow-hidden

}
.singlePortfolio .projectLogo{
  @apply
  max-h-[150px]
  max-w-[150px]
  absolute
  top-[30px]
  right-[30px]
}
.singlePortfolio .project-images{
  @apply
  relative
  w-full
  h-full
}
.singlePortfolio .project-images .projectCard{
  @apply
  w-[230px]
  h-[350px]
  absolute
  rotate-[-25deg]
  left-[50%]
  top-[50%]
  translate-x-[-75%]
  translate-y-[-57%]
}
.project-overlay{
  @apply
  absolute
  opacity-0
  w-full
  h-full
  rounded-md
  bg-black/40
  flex
  items-center
  justify-center
  duration-150
  z-[5]
}
.singlePortfolio:hover .project-overlay{
  @apply
  opacity-100
  z-[5]
}
.project-overlay button{
  @apply
  w-[110px]
  h-[110px]
  rounded-full
  bg-black/60
  flex
  items-center
  justify-center
  text-white
  font-medium
  text-[18px]
  text-center
  p-[10px]
  cursor-pointer
  hover:bg-black/70
  duration-200
}