@reference "../../app/globals.css";
.banner-card-wrap .swiper {
 @apply w-[300px] h-[400px] xl:w-[340px] xl:h-[449px] overflow-visible
}

.banner-card-wrap .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.banner-card-wrap .swiper-slide:nth-child(1n) {
  background: url("../../../public/images/card1.png") no-repeat center;
  background-size: cover;
}

.banner-card-wrap .swiper-slide:nth-child(2n) {
  background: url("../../../public/images/card2.png") no-repeat center;
  background-size: cover;
}

.banner-card-wrap .swiper-slide:nth-child(3n) {
  background: url("../../../public/images/card3.png") no-repeat center;
  background-size: cover;
}

.banner-card-wrap .swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.banner-card-wrap .swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.banner-card-wrap .swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.banner-card-wrap .banner-card-wrap .swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.banner-card-wrap .swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.banner-card-wrap .swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.banner-card-wrap .swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
